@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 72px;
    width: 50%;
    text-align: center;
}
h3{
    font-size: 2rem;
}
.banner{
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(./images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin: 50px 140px;
    height: 600px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'merriweather';
}

.offer{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    margin-top: 100px;
    font-family: 'Inter';
}
.offer-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.offer h2{
    color: red;
    font-size: 88px;
}
.offer-offer{
    color: red;
    font-size: 24px;
}
.offer h3{
    text-align: center;
}