@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bloody-bg {
    background-color: red;
}

.bloody-text {
    color: red;
}

.font-merriweather {
    font-family: 'Merriweather', serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 72px;
    width: 50%;
    text-align: center;
}

.banner h3 {
    font-size: 2rem;
}

.banner {
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(./images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin: 50px 140px;
    height: 600px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.offer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    margin-top: 100px;
}

.offer-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.offer h2 {
    font-size: 88px;
}

.offer-offer {
    font-size: 24px;
}

.offer h3 {
    text-align: center;
}

#party {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 140px;
    padding: 64px 125px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.party-content {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
}

.party-content h2 {
    font-size: 64px;
}

.party-content p {
    color: #BBB;
}

.party-content button {
    width: fit-content;
    background: none;
    border: none;
    color: whitesmoke;
    margin-top: 24px;
    font-size: larger;
    font-weight: 700;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
    margin: 0 140px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    padding: 100px 0;
}

.address-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 32px;
}

.address button {
    padding: 16px 32px;
    font-size: larger;
    font-weight: 700;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.address button:hover {
    background-color: tomato;
}

.address button:active {
    background-color: rgb(200, 0, 0);
}

.event-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 95px;
    margin: 100px 140px;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
}

.coming-soon h3 {
    font-size: x-large;
    font-weight: 500;
    text-transform: uppercase;
}

.coming-soon h2 {
    font-size: 48px;
    font-weight: 900;
}

.coming-soon p {
    font-size: larger;
    color: #666;
}

.event-img {
    padding: 40px;
    border: 16px solid red;
    border-radius: 50%;
}

.event-year {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 33%;
}

.event-year h2 {
    font-size: 48px;
}

.event-year p {
    font-size: larger;
    color: #666;
}

.event-year img {
    width: fit-content;
}

.sales {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 100px 140px;
}

.sale-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 0 125px;
}

.sale-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.sale-content h2 {
    font-size: 72px;
}

.sale-content h4 {
    font-size: x-large;
    font-weight: 500;
}

.sale-content p {
    width: 66%;
    text-align: center;
    color: #666;
    font-weight: 500;
}

.sale-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.gift {
    position: absolute;
    bottom: 0;
    left: 0;
}

.gift img {
    width: 75%;
}


.sale-image .gift-disc-group {
    display: flex;
    align-items: center;
    justify-content: end;
}

.sale-image .sale-red-bg img {
    width: 100%;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 100px 140px;
}

.product-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-head h3 {
    font-size: x-large;
    font-weight: 500;
}

.product-head h2 {
    font-size: 48px;
    font-weight: 900;
}

.product-head p {
    width: 50%;
    color: #666;
    font-size: larger;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-row {
    display: flex;
    gap: 24px;
}

.product-row img {
    width: 100%;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    background-color: #FF000015;
    margin: 100px 140px;
    border-radius: 16px;
    padding: 80px 210px;
}

.subs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.subs-content h2 {
    font-size: 48px;
    font-weight: 900;
}

.subs-content p {
    width: 90%;
    color: #666;
    text-align: center;
    font-size: 20px;
}

.subs-form {
    display: flex;
    justify-content: center;
    width: 60%;
}

.subs-form input {
    font-size: large;
    padding: 24px 36px;
    border-radius: 40px 0 0 40px;
    border: none;
    flex-grow: 1;
}

.subs-form input:hover {
    border: 1px solid rgba(255, 0, 0, 0.3);
}

.subs-form input:focus {
    border: 1pt groove red;
    outline: none;
}

.subs-form button {
    color: whitesmoke;
    font-size: larger;
    padding: 24px 56px;
    border-radius: 0 40px 40px 0;
    border: none;
    cursor: pointer;
}

.subs-form button:hover {
    background-color: tomato;
}

.subs-form button:active {
    background-color: rgb(200, 0, 0);
}