@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.bloody-bg
{
    background-color: red;
}
.bloody-text
{
    color: red;
}
.font-merriweather
{
    font-family: 'Merriweather', serif;
}
.font-inter
{
    font-family: 'Inter', sans-serif;
}
h1
{
    font-size: 72px;
    width: 50%;
    text-align: center;
}
.banner h3{
    font-size: 2rem;
}
.banner{
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(./images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin: 50px 140px;
    height: 600px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.offer{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    margin-top: 100px;
}
.offer-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.offer h2{
    font-size: 88px;
}
.offer-offer{
    font-size: 24px;
}
.offer h3{
    text-align: center;
}
#party{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 140px;
    padding: 64px 125px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.party-content{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
}
.party-content h2
{
    font-size: 64px;
}
.party-content p
{
    color: #BBB;
}
.party-content button{
    width: fit-content;
    background: none;
    border: none;
    color: whitesmoke;
    margin-top: 24px;
    font-size: larger;
    font-weight: 700;
}
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
    margin: 0 140px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    padding: 100px 0;
}
.address-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 32px;
}
.address button
{
    padding: 16px 32px;
    font-size: larger;
    font-weight: 700;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
}
.event-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 95px;
    margin: 100px 140px;
}
.coming-soon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
}
.coming-soon h3 {
    font-size: x-large;
    font-weight: 500;
    text-transform: uppercase;
}
.coming-soon h2 {
    font-size: 48px;
    font-weight: 900;
}
.coming-soon p {
    font-size: larger;
    color: #666;
}
.event-img
{
    padding: 40px;
    border: 16px solid red;
    border-radius: 50%;
}
.event-year {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 33%;
}
.event-year h2 {
    font-size: 48px;
}
.event-year p {
    font-size: larger;
    color: #666;
}
.event-year img {
    width: fit-content;
}